.container {
	margin: 0 auto;
	padding: 0 var(--space-md);

	width: 100%;

	&,
	&--default {
		max-width: 1160px;
	}

	&--md {
		max-width: 768px;
	}

	&--xl {
		max-width: 1400px;
	}

	&--2xl {
		max-width: 1800px;
	}

	&--full {
		max-width: none;
	}
}
