.grid {
	$parent: &;

	display: grid;
	grid-gap: var(--space-md);

	&:not(:last-child) {
		margin-bottom: var(--space-md);
	}

	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

	&--sm {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	}

	> * {
		margin: 0 !important;
		//display: flex;
		//flex-grow: 1;
	}
}
