// https://css-tricks.com/patterns-for-practical-css-custom-properties-use/

.grid {
	$parent: &;

	--columns: auto-fit;
	--min-width: 260px;

	display: grid;
	grid-gap: var(--grid-gap);

	&:not(:last-child) {
		margin-bottom: var(--grid-gap);
	}

	grid-template-columns: repeat(var(--columns), minmax(var(--min-width), 1fr));

	&--lg {
		grid-template-columns: repeat(var(--columns), minmax(500px, 1fr));
	}

	&--sm {
		grid-template-columns: repeat(var(--columns), minmax(220px, 1fr));
	}

	&--xs {
		grid-template-columns: repeat(var(--columns), minmax(130px, 1fr));
	}

	> * {
		margin: 0 !important;
	}
}
